.section
  .container
    %h1{class: 'title has-text-primary'} Connexion
    %h2{class: 'subtitle'} Connecte-toi à ton compte
    .columns
      .column.is-one-third
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          = render 'devise/shared/error_messages', resource: resource
          .field
            %p{class: 'control has-icons-left'}
              = f.email_field :email, type: 'email', placeholder: 'Email', autofocus: true, autocomplete: 'email', class: 'input'
              %span{class: 'icon is-small is-left'}
                %i{class: 'fas fa-envelope'}
          .field
            %p{class: 'control has-icons-left'}
              = f.password_field :password, autocomplete: 'current-password', placeholder: 'Mot de passe', class: 'input'
              %span{class: 'icon is-small is-left'}
                %i{class: 'fas fa-lock'}
          - if devise_mapping.rememberable?
            .field
              = f.check_box :remember_me
              = f.label :remember_me
          .actions
            = f.submit 'Go !', class: 'button is-primary'
        = render 'devise/shared/links'
