.container
  %table{class: 'table is-fullwidth is-hoverable is-striped'}
    %thead{class: 'thead'}
      %tr
        %th Rang
        %th Titre
        %th Autrice
        %th
    %tbody{class: 'tbody'}
      - @products.each_with_index do |product, index|
        %tr
          %td= index + 1
          %td= link_to product.title, product_path(product)
          %td= link_to product.author.name, author_path(product.author)
          %td{id: "like-product-#{product.id}"}
            - liked = user_signed_in? ? user_like?(current_user, product) : false
            = render 'products/like', product: product, user: current_user, liked: liked
