.section
  .container
    %h1{class: 'title has-text-primary'} #{@product.title}
    %h2{class: 'subtitle'} #{@product.author} - #{@product.category} - #{@product.release_year}
.section
  .container
    %p #{@product.description}