.section
  .container
    %h1{class: 'title has-text-primary'} #{@product.title}
    %h2{class: 'subtitle'} #{link_to @product.author.name, author_path(@product.author)} - #{@product.category} - #{@product.release_year}
.section
  .container
    %p #{@product.description}
.section
  .container
    %h2{class: 'subtitle'} Commentaires
    = render 'products/list_comments', product: @product
    = render 'products/comment_form', product: @product

