%nav{class: 'navbar is-transparent bd-navbar navbar has-shadow is-spaced'}
  .container
    .navbar-brand
      = link_to 'Second Text', root_path, class: 'navbar-item is-size-5 has-text-primary has-text-weight-bold'
    .navbar-menu
      .navbar-start
        = link_to 'Livres', books_path, class: 'navbar-item'
        = link_to 'Films', movies_path, class: 'navbar-item'
        = link_to 'A propos', about_path, class: 'navbar-item'
      .navbar-end
        - if user_signed_in? && current_user.is_admin
          .navbar-item
            = link_to 'Valider', validate_path, class: 'button is-link'
        .navbar-item
          = link_to 'Ajouter une oeuvre', new_product_path, class: 'button is-warning'
        - if user_signed_in?
          .navbar-item.has-dropdown.is-hoverable
            = link_to current_user.username, movies_path, class: 'navbar-link'
            .navbar-dropdown.is-boxed
              .navbar-item
                = link_to 'Mon profil', movies_path
              .navbar-item
                = link_to 'Log out', destroy_user_session_path, method: :delete
        - else
          .navbar-item
            = link_to 'Se connecter', new_user_session_path
          .navbar-item
            = link_to('S\'inscrire', new_user_registration_path)
